#sec_para{
	color: red;
	background-color: lightgreen;
}
.main-class{
	color: brown;
}
.back-color{
	background-color: silver;
}
a:link{
	color:red;
}
a:hover{
	color: yellow;
}
a:visited{
	color:brown;
}
a:active{
	color:green;
}