.contianer{
    
    width: 550px;
    margin: 50px auto;
    border:2px dashed;
    text-align: center;
    
}
.box{
      
    font-size: 30px;
    vertical-align: middle;
    position:relative;
    width: 100px;
    height: 100px;
    border: 2px solid;
    transition: all 0.3s ease;
    animation: move 4s infinite alternate;
    /*animation-timing-function: ease;*/
    animation-timing-function: cubic-bezier(0.74, 0.35, 0.13, 1);
   /* animation-timing-function: ease-in;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-timing-function: ease-out;*/
   /* animation-timing-function: linear;*/  
}
@keyframes move{
    from {left : 0;}
    to { left: calc(100% - 102px);
    }
}
.box:hover {
    background: #eee;
}
.box--red{
    display: block;
    vertical-align: middle;
    background: #f92772;
    
}

.box--blue{
    background: #66d9f2;
}

.text{
    text-align: center;
}
.link_t{
    
    background-color: brown;
    color: cornsilk;
    text-decoration: none;
}
.box p {
     vertical-align: middle;
   
     /* display:inline-block;
        
    position: relative;*/
}