@import "heading.css";
@import "paragraph.css";

*{ font-family: "Arial Black" Gadget, sans-serif;}

div * {font-family: "Comic Sans MS",cursive ,sans-serif;}

.sitelink{
  font-family: Geogia,serif;
}

#tonyquote{
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  color:black;
}

p.sitelink{
  font-family: "Palatino Linotype","Book Antiqua",Palatino,cursive;serif;
  color:black;
}

span#tonyname {
  font-family: "Times New Roman",Times ,serif;
  color: blue;
}
#tutorials ol li {
  color: purple;
}
#tutorials ul li{
  color:green;
}
